body {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    margin: 0;
    padding: 0;
}

.content {
    padding: 40px;
    margin-right: 30%;
}

h1 {
    width: 100%;
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

h2 {    
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align: left;
    text-transform: capitalize;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    width: 100%;
    color: AliceBlue;
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
}

p::first-line {
    font-weight: bold;
}

.image {
    background-image: url("../img/background-img.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
}

.caption {
    position: relative;
    top: 80%;
    display: block;
    width: 60%;
    margin-left: 20px;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    color: black;
    line-height: 14px;   
    background-color: #fff; 
    opacity: 0.75; 
}

.caption a:hover {
    text-decoration-color: violet;
}

